.nav{
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav__item{
    @extend %nav;
}
.nav__item a{
    text-decoration: none;
    color: black;
    line-height: 40px;
}
.nav__item:hover {
    @include nav__item--hover();
}