.nav{
    padding: 0;
    list-style: none;
    text-align: center;
}
.nav__item{
    @extend %nav;
}
.nav__item a{
    text-decoration: none;
    color: black;
    line-height: 40px;
}

.nav .nav__item{
    @include nav__item--hover();
}
.nav > .nav__item ~ .nav__item{
    background-color: white;
    & a{
        color: black;
    }
}
.nav .nav__item:hover{
    @include nav__item--hover();
}